version: "3"
services:
  eng_produtoh_t:
    container_name: eng_produto_transf_teste
    ports:
      - "8034:8888"
    environment:
      TZ: "America/Fortaleza"
      EBEAN_PROPS: /etc/ebean.properties
      LANG: 'pt_BR.UTF-8'
      LANGUAGE: 'pt_BR:pt'
      LC_ALL: 'pt_BR.UTF-8'
    build: .
    volumes:
      - ./ebean.properties:/etc/ebean.properties
    restart: always
    networks:
      net_produtoh_t:
        ipv4_address: 172.134.34.1
networks:
  net_produtoh_t:
    ipam:
      driver: default
      config:
        - subnet: 172.134.0.0/16
