.cd {
    color: #5891dd;
    font-weight: bold;
}

.entregue {
    color: #5891dd;
    font-weight: bold;
}


.cancelada {
    color: orange;
    font-weight: bold;
}

.azul {
    color: #5891dd;
    font-weight: bold;
}
