.cd {
    color: #6c8fbd;
    font-weight: bold;
}

.entregue {
    color: #6c8fbd;
    font-weight: bold;
}


.cancelada {
    color: orange;
    font-weight: bold;
}

.azul {
    color: #6c8fbd;
    font-weight: bold;
}
